/* El componente raiz se comporta como un bloque normal */
:host {
	display: block;
}

/* Quita el espacio extra en login y registro */
main.auth-page {
	height: 100vh;
	overflow: hidden;
	padding-bottom: 0;
}

/* Quita el relleno inferior extra en la portada con scroll por secciones */
main.snap-active {
	padding-bottom: 0;
}