<!-- Cabecera principal -->
<app-navbar></app-navbar>


<!-- Contenido principal de la aplicación -->
<main
  [class.snap-active]="isMainPage"
  [class.auth-page]="isAuthPage">

  <!-- Aquí Angular carga el componente según la ruta activa -->
  <router-outlet></router-outlet>

</main>


<!-- Footer general: se oculta en la página de inicio -->
<footer
  *ngIf="!isMainPage"
  [class.site-footer]="!isAuthPage"
  [class.auth-footer]="isAuthPage">

  <!-- Enlaces legales -->
  <nav aria-label="Enlaces legales">
    <ul class="footer-links">
      <li><a href="#">Política de cookies</a></li>
      <li><a href="#">Privacidad</a></li>
      <li><a routerLink="/about-us">Conócenos</a></li>
    </ul>
  </nav>

  <!-- Redes sociales -->
  <div class="social" aria-label="Redes sociales">
    <a href="https://www.facebook.com/" aria-label="Facebook">
      <i class="fa-brands fa-facebook" aria-hidden="true"></i>
    </a>

    <a href="https://www.instagram.com/" aria-label="Instagram">
      <i class="fa-brands fa-instagram" aria-hidden="true"></i>
    </a>

    <a href="https://x.com/" aria-label="X">
      <i class="fa-brands fa-x-twitter" aria-hidden="true"></i>
    </a>
  </div>

</footer>


<!-- Botón flotante para volver arriba -->
<button
  class="fab-top"
  [class.visible]="btnSubir"
  type="button"
  aria-label="Volver arriba"
  (click)="scrollToTop()">

  <i class="fa fa-chevron-up" aria-hidden="true"></i>

</button>