h2 {
  margin-bottom: 15px;
}

form {
  width: 300px;
}

div {
  margin-bottom: 10px;
}

label {
  display: inline-block;
  width: 100px;
}

input {
  width: 180px;
}

button {
  margin-top: 10px;
}

p {
  color: red;
  margin-top: 10px;
}